.button-style{
  button{
    border: 0;
    background-color: rgb(5, 88, 60);
    color: #fff;
    padding: 6px 18px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer !important;
  }

}
